@media (max-width:1200px) {

    /* section-2 */
    .section-2 {
        padding: 100px 50px;
    }

    .section-2 .avatar {
        width: 198px;
        height: 188px;
    }

    .section-2 .inner-box .inner-info img {
        width: 20px;
        height: 20px;
    }

    .inner-title {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
    }

    .section-2 .inner-box .name {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .section-2 .inner-box .inner-decs {
        font-size: 18px;
        font-weight: 700;
        color: #F06C25;
        margin-bottom: 10px;
    }

    /* section-2 */


}

@media (max-width:992px) {

    /* section-1 */
    .inner-content h1 {
        font-size: 36px;
        font-weight: 700;
    }

    .inner-content p {
        font-size: 14px;
        font-weight: 500;
    }

    /* section-1 */

    /* section-2 */
    /* section-2 */
}

@media (max-width:768px) {

    /* section-1 */
    .inner-content h1 {
        font-size: 26px;
        font-weight: 700;
    }

    .inner-content p {
        font-size: 12px;
        font-weight: 500;
    }

    /* section-1 */

    /* section-2 */
    .inner-row-2 {
        flex-direction: column;
        align-items: center;
    }

    .inner-row-1 {
        flex-direction: column;
        align-items: center;
    }

    /* section-2 */

    /* section-4 */
    .section-4 .inner-img {
        grid-template-columns: 221px 221px;
        gap: 20px 40px;
    }

    .section-4 .inner-img img {
        width: 221px;
        height: auto;
    }

    .section-4 {
        padding: 30px;


    }

    .section-4 .inner-decs {
        font-size: 28px;

    }

    /* section-4 */
}






@media (max-width:576px) {

    /* section-1 */
    .section-1 {
        justify-content: flex-start;
    }

    .section-1 .inner-content {
        margin-top: 45%;
    }

    .section-1 .inner-header img {
        width: 40px;
        height: 40px;
    }

    .section-1 .inner-header span {
        font-size: 13px;
    }

    .inner-content h1 {
        font-size: 21px;
        font-weight: 700;
    }

    .inner-content p {
        font-size: 10px;
        font-weight: 500;
    }

    .section-1 .card-list {
        width: 81.44px;
        font-size: 12px;
    }

    /* section-1 */

    /* section-2 */
    .section-2 {
        padding: 100px 50px;
    }

    .section-2 .avatar {
        width: 148px;
        height: 138px;
    }

    .section-2 .inner-box {
        width: 328px;
    }

    .section-2 .inner-box .inner-info img {
        width: 10px;
        height: 10px;
    }

    .inner-title {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
    }

    .section-2 .inner-box .name {
        font-size: 10px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .section-2 .inner-box .inner-decs {
        font-size: 10px;
        font-weight: 700;
        color: #F06C25;
        margin-bottom: 10px;
    }

    /* section-2 */

    /* section-3 */
    .section-3 img {
        width: 369px;
        height: 207px;
    }

    /* section-3 */

    /* section-4 */
    .section-4 .inner-img {
        grid-template-columns: 201px;
        grid-template-rows: 1fr;

    }

    .section-4 .inner-img img {
        width: 201px;
        height: auto;
    }

    .section-4 .inner-decs {
        font-size: 22px;
    }

    /* section-4 */

    /* section-5 */
    .section-5 {
        padding: 20px;
    }

    .section-5>img {
        width: 40px;
        height: auto;
    }

    .section-5 .inner-social img {
        width: 20px;
        height: auto;
    }

    /* section-5 */

}