@media (max-width:1240px) {
    .list{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .info .content .title{
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .info .content .desc{
       
        font-size: 14px;
        margin-bottom: 10px;
    }
    .info .content .rating{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .info .content .price{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .info .content .btn-1{
        font-size: 22px;
    }
}
@media (max-width:922px) {
    .list{
        grid-template-columns: 1fr 1fr;
    }
    .info{
        flex-direction: column;
    }
    .info .img{
        width:100%;
    }
    .info .img img{
        width: 30%;
    } 
    .info .content{
        width:100%;
    }
    .info .content .title{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .info .content .desc{
       
        font-size: 14px;
        margin-bottom: 10px;
    }
    .info .content .rating{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .info .content .price{
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .info .content .btn-1{
        font-size: 18px;
    }
    .category{
        font-size: 14px;
    }
}
@media (max-width:768px) {
    .category{
        font-size: 12px;
    }
    .listItem{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:576px) {
    .listItem{
        grid-template-columns: 1fr;
    }
    .title{
        font-size: 14px;   
    }
    .decs{
        margin-bottom: 8px;
    }
    .price{
        font-size: 14px;
    }
    .rating{
        margin-bottom: 8px;
    }
    .heart{
        width: 25px;
        height: 25px;
        font-size: 10px;
     
    }
    .share{
        width: 25px;
        height: 25px;
        font-size: 10px;
        top:40px;
    }
    .btn{
        position:absolute;
        padding:10px 20px;
        top: 60%;
        left:calc(100%/2 - 118.89px/2);
        font-size: 16px;
    }
    .item{
        height: 400px;
        overflow: hidden;
    }
    .info .img img{
        width: 60%;
    }
    .info .content .title{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .info .content .desc{
       
        font-size: 10px;
        margin-bottom: 10px;
    }
    .info .content .rating{
        font-size: 10px;
        margin-bottom: 10px;
    }
    .info .content .price{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .info .content .btn-1{
        font-size: 14px;
    }
    .category{
        font-size: 10px;
        margin-bottom: 10px;
    }
}