@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
body{
    background-color: #F4F4F9;
    position: relative;
}

.title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 15px;
}
p{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.image{
    width: 70%;
    height: 200px;
    margin-bottom: 80px;
    object-fit: contain;
    transition: all 0.5s ease-in-out;
}
.list{
    display: grid;
    gap:20px;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 15px;
    
}
.item{
    padding:10px;
    border: 1px solid #ddd;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 8px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.title{
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 10px;
    height: auto;
    overflow: hidden;   
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical; 
    
}
.decs{
    color:#666666;
    margin-bottom: 10px;
}
.price{
    color: #E53946;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 10px;
}
.rating{
    color:#F29E24;
    margin-bottom: 10px;
}
.heart{
    position: absolute;
    top:10px;
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    border:  1px solid #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 100;
}
.share{
    position: absolute;
    top:60px;
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    border:  1px solid #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 100;
}
.btn{
    position:absolute;
    padding:10px 20px;
    top: 60%;
    left:calc(100%/2 - 118.89px/2);
    border-radius: 30px;
    border: none;
    color:#ffffff;
    font-size: 18px;
    font-weight: 700;
    background-color: #e03030;
    opacity: 0;
}
.btn:hover{
    background-color: #BA0000;
}
.item:hover .btn{
    animation: down 0.5s ease-in-out forwards;
}
.item:hover .share{
    animation: right 0.5s ease-in-out forwards;
}
.item:hover .heart{
    animation: right 0.5s ease-in-out forwards;
}
@keyframes right {
    0%{
        transform: translateX(40px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes down {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.image:hover{
    transform: scale(1.2);
}
.overlay{
    background-color: #000000a6;
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100%;
    height: auto;
    padding:30px;
}
.info{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    display: flex;
    padding:30px;
    gap:20px;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 600px;
    border-radius: 20px;
}
.info .img{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info .img img{
    width: 60%;
    margin: 0;
    transition: transform 0.5s ease-in-out;
}
.info .img :hover{
    transform: scale(1.1);
    cursor: pointer;
}

.info .content{
    width:50%;
    position: relative;
    height: 100%;
}
.info .content .title{
    font-size: 2.5rem;
    overflow: hidden; 
    word-wrap: break-word;  
    text-overflow: unset;
    display: -webkit-box;
    -webkit-line-clamp: unset; 
    margin-bottom: 20px;
}
.info .content .desc{
    color:#606060;
    font-size: 1rem;
    margin-bottom: 20px;
}
.info .content .rating{
    color:#606060;
    font-size: 1rem;
    margin-bottom: 20px;
}
.info .content .price{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.info .content .btn-1{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    background-color: #e03030;
    padding:10px 20px;
    color:#ffffff;
    border: none;
    font-size: 1.5rem;
}

.info .content .btn-1:hover{
    background-color: #BA0000;
}
.close{
    position: absolute;
    top: -2px;
    right: 0;
    font-size: 2rem;
}
.close:hover{
    cursor: pointer;
}
.category{
    background-color:#00CB18;
    padding:6px 20px;
    font-size: 16px;
    border-radius: 20px;
    color:#ffffff;
    margin-bottom: 20px;
    display: inline-block;
}