@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", serif;;
}
.container
{
background-color:#FDE7BB ;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.container_body
{
    width:40%;
}
.container_notification
{
    border: 3px solid #FC8F54;
    border-radius: 15px;
    padding:15px 20px;
    margin-bottom: 30px;
    font-size: 18px;
}
.container_title
{
color:#313131;
font-size: 40px;
font-weight: 700;
}

.card{
    background-color:#FC8F54 ;
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 15px;
    /* align-items: center;
    justify-content: center; */
    padding:30px;
    flex-direction: column;
}
form
{
    width: 100%;
}
input
{
    display: block;
    width: 100%;
    padding:15px 20px;
    border-radius: 30px;
    border-style: none;
    outline: none;
    margin-bottom:30px;
    appearance: none;
}
label
{
    display: inline-block;
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.card_btn
{
    border-radius: 20px;
    border-style: none;
    padding:6px 12px;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}
.card_btn:hover
{
    background-color: #ffffffb1;
    transform: scale(1.1);
}


